/*Personal Web css file
author : Yassine Fikri*/


/*Font*/
@font-face {
    font-family: TxtF;
    src: url(fonts/ABeeZee/ABeeZee-Regular.ttf);
}
@font-face {
    font-family: Mid_and_a_Font;
    src: url(fonts/Balthazar-Regular/Balthazar-Regular.ttf);
}
/*End Of Fonts

/*General*/
*{
    margin: 0px;
    padding: 0px;
}
p{
    font-family: TxtF;
}
a{
    text-decoration: none;
    color: rgb(211, 211, 211);
    font-family: Mid_and_a_Font;
}
a:hover{
    color: white;
}
h3{
    font-size: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*End Of General*/

/*Part 1*/
.mobmenu{
    display: none;
}
.part1{
    height: 100vh;
    overflow: hidden;
    /*background-color: rgb(14, 13, 13);*/
    background:linear-gradient(
      rgba(14, 13, 13, 0.95), 
      rgba(14, 13, 13, 0.95)),
      url("../images/main.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /**/
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu{
    position: fixed;
    top: 0;
    background-color: rgb(14, 13, 13);
    width: 100%;
    z-index: 1;
}
.menu>ul>li{
    color: rgb(211, 211, 211);
    font-size: 18px;
    padding: 20px;
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
    text-align: left;
    font-family: "Open Sans", arial, sans-serif;
    border : 1px solid rgb(14, 13, 13);
    width: auto;
}
.menu>ul>li:hover{
    color:white;
    background-color: rgb(35, 34, 34);
}

@media screen and (max-width: 1000px){
	.menu{
		width: 0px;
		height: 0px;
		display: none;
    }
    .mobmenu{
        display: inline-block;
        width: 100%;
        height: auto;
        background-color: rgb(14, 13, 13);
        position: fixed;
        top: 0;
        z-index: 2;
        overflow: hidden;
    }
    #menup{
        max-width: 70px;
        max-height: 70px;
        padding: 2%;
        position: relative;
        display: block;
        margin: 2%;
    }
}

.mobmenuopened{
    height: 100vh;
    width: 100%;
    background-color: rgb(2, 2, 2);
    display: block;
    position: fixed;
    top: 0px;
    opacity: 0.95;
    z-index: 1;
}
.mobmenuopenedlu{
    padding: 20% 10%;
    list-style-type: none;
}
.mobmenuopenedli{
    font-size: 55px;
    color: white;
    padding: 2%;
    border-bottom: 1px solid white;
}

.part1mid{
    height: auto;
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
}
.h1mid,.h2mid{
    height: auto;
    color: rgb(211, 211, 211);
    font-size: 48px;
    padding: 2% 1%;
    margin: 1%;
    font-style: normal;
    position: relative;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 33px;
}
.h1mid>p,.h2mid>p{
    font-family: Mid_and_a_Font;
}
.h2mid{
    padding: 1%;
    margin: 1%;
    font-size:27px;
    letter-spacing: 10px;
    color: rgb(124, 124, 124);
}

.godicon{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 87%;
    left:48%;
}
#arr{
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 1000px){
    .godicon{
        height: 80px;
        width: 80px;
        position: absolute;
        top: 85%;
        left:46%;
    }
}
/*End Of Part1*/

/*Part2*/
#part2{
    width: 100%;
}
.partofpart2,.partofpart3,.partofpart4{
    width: 32.7%;
    margin: 5% 0%;
    display: inline-block;
    height: auto;
    font-weight: bold;
}
.elementofpartofpart2,.elementofpartofpart3,.elementofpartofpart4{
    margin: 2% 15%;
    text-align: center;
    border: 2px black solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: middle;
}
.partofpart2header>p,.partofpart3header>p{
    margin: 1%;
    padding: 2% 0%;
    font-size: 20px;
}
.partofpart2content>p,.partofpart3content>p{
    font-size: 15px;
    margin: 1%;
    padding: 2% 0%;
}
/*End of Pärt2*/

/*Part3*/
.part3header,.part5header{
    height: 122px;
    width: 100%;
    text-align: center;
    background-color: rgb(14, 13, 13);
    color:white;
}
.part3content{
    background:linear-gradient(
      rgba(10, 9, 9, 0.9), 
      rgba(10, 9, 9, 0.9)),
      url("../images/sk.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /**/
    background-attachment: fixed;
    background-position: center;
    color:white;
}
.partofpart3{
    height: auto;
    margin: 1% 0%;
}
.elementofpartofpart3{
    border: 2px white solid;
    padding: 3% 1%;
}
/*End Of Part3*/

/*Part 4*/
.elementofpartofpart4{
    border: 2px white ;
    padding: 3% 1%;
}
.elementofpartofpart4>img{
    border: 3px black solid;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    opacity: 0.7;
}
.partofpart4content{
    font-size: 21px;
    margin: auto;
    text-align: center;
}
/*End of Part 4*/

/*Part 5*/
.part5content{
    background-color: rgb(14, 13, 13);
    height: 250px;
    color: white;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.part5content>p{
    padding: 6px 10%;
}
/*End of Part 5*/

.end{
    text-align: center;
    height: 50px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#leftgoup{
    float: left;
    margin-left: 15px;
}
#rightgoup{
    float: right;
    margin-right: 15px;
}
