@font-face {
    font-family: Balthazar;
    src: url(fonts/Balthazar-Regular/Balthazar-Regular.ttf);
}
nav{
    transition: .3s;
}
.navbg{
    background-color: rgb(20, 20, 20);
}
.display-4{
    font-size: 3rem;
}
.part1{
    height: 100vh;
    width: 100%;
    position: relative;
}
.cantext{
    width: 100%;
    font-family: Balthazar;
    color: rgb(211, 211, 211);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cantext h1{
    letter-spacing: 2vw;
}
.cantext a img{
    height: 30px;
    width: 30px;
    opacity: 0.7;
    transition: .5s;
}
.cantext a img:hover{
    opacity: 1;
}
.part2{
    background-color: #f3f3f9;
}
.mytitledark::after{
    margin: auto;
    margin-top: 10px;
    display: block;
    content: "";
    width: auto;
    height: 2px;
    width: 50px;
    background-color: black;
}
.mytitlelight::after{
    margin: auto;
    margin-top: 10px;
    display: block;
    content: "";
    width: auto;
    height: 2px;
    width: 50px;
    background-color: white;
}
.edu{
    margin: auto;
    text-align: center;
    width: 500px;
}
@media only screen and (max-width: 500px) {
    .edu{
        width: 100%;
    }
}
.edu_img{
    height: 60px;
    width: 60px;
}
.edu_img img{
    height: 100%;
    width: 100%;
}
.part4{
    background-color: rgb(10, 10, 10);
}
.card{
    width: 22rem;
}
.card-img-top{
    height: 12rem;
    border-bottom: 1px solid lightgrey;
}