/*Personal Web css file
author : Yassine Fikri*/


/*Font*/
@font-face {
    font-family: TxtF;
    src: url(fonts/ABeeZee/ABeeZee-Regular.ttf);
}
@font-face {
    font-family: Mid_and_a_Font;
    src: url(fonts/Balthazar-Regular/Balthazar-Regular.ttf);
}
/*End Of Fonts

/*General*/
*{
    margin: 0px;
    padding: 0px;
}
p{
    font-family: TxtF;
}
a{
    text-decoration: none;
    color: rgb(211, 211, 211);
    font-family: Mid_and_a_Font;
}
a:hover{
    color: white;
}
h3{
    font-size: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*End Of General*/

/* Menu Color*/
.menubg{
	background-color: rgb(14, 13, 13);
}
.menu,.mobmenu{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*End of Menu Color

/*Part 1*/
.mobmenu{
    display: none;
}
.part1{
    height: 100vh;
    overflow: hidden;
    background:linear-gradient(
      rgba(12, 12, 12, 0.925), 
      rgba(12, 12, 12, 0.925)),
      url("../images/main.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /**/
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media screen and (max-width: 1000px){
    .part1{
        background:linear-gradient(
            rgba(12, 12, 12, 0.5), 
            rgba(12, 12, 12, 0.5)),
            url("../images/mainm.gif");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.menu>ul>li{
    color: rgb(241, 241, 241);
    font-size: 18px;
    padding: 20px;
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
    text-align: left;
    font-family: "Open Sans", arial, sans-serif;
    width: auto;
}
.menu>ul>li:hover{
    color:white;
    background-color:rgba(112, 112, 112, 0.1);
}

@media screen and (max-width: 1000px){
	.menu{
		width: 0px;
		height: 0px;
		display: none;
    }
    .mobmenu{
        display: inline-block;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        z-index: 2;
        overflow: hidden;
    }
    #menup{
        max-width: 70px;
        max-height: 70px;
        padding: 2%;
        position: relative;
        display: block;
        margin: 2%;
    }
}

.mobmenuopened{
    height: 100vh;
    width: 100%;
    background-color: rgb(2, 2, 2);
    display: block;
    position: fixed;
    top: 0px;
    opacity: 0.95;
    z-index: 1;
}
.mobmenuopenedlu{
    padding: 20% 10%;
    list-style-type: none;
}
.mobmenuopenedli{
    font-size: 55px;
    color: white;
    padding: 2%;
    border-bottom: 1px solid white;
}

.part1mid{
    height: auto;
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
}
.h1mid,.h2mid{
    height: auto;
    color: rgb(255, 254, 254);
    font-size: 48px;
    padding: 2% 1%;
    margin: 1%;
    font-style: normal;
    position: relative;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 33px;
}
.h1mid>p,.h2mid>p{
    font-family: Mid_and_a_Font;
}
.h2mid{
    padding: 1%;
    margin: 1%;
    font-size:27px;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
}

.godicon{
    display: none;
    position: absolute;
    top:87vh;
}
#arr{
    height: 100%;
    width: 100%;
}
@media screen and (min-width: 1000px){
    .godicon{
        display: block;
        height: 40px;
        width: 40px;
    }
}
@media screen and (max-width: 1000px){
    .godicon{
        display: block;
        height: 70px;
        width: 70px;
    }
}
@media screen and (max-height: 850px){
    .godicon{
        display: none;
    }
}
/*End Of Part1*/

/*Part2*/
#part2{
    width: 100%;
}
.partsofpart2cont{
    width: 100%;
    display: block;
}
.part2header,.part4header{
    padding-top: 5%; 
}
.partofpart2,.partofpart3,.partofpart4{
    width: 32.7%;
    margin: 5% 0%;
    display: inline-block;
    height: auto;
    font-weight: bold;
}
@media screen and (max-width: 1000px){
    .partofpart2,.partofpart3,.partofpart4{
        display: block;
        width: auto;
        margin: 10% auto;
    }
    .partofpart4{
        margin: 5%;
    }
    .partsofpart2cont,.partsofpart4cont{
        margin-top: 15%;
    }
    .part2header,.part4header{
        padding-top: 10%; 
    }
}
.elementofpartofpart2,.elementofpartofpart3,.elementofpartofpart4{
    margin: 2% 15%;
    text-align: center;
    border: 2px black solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: middle;
}
.partofpart2header>p,.partofpart3header>p{
    margin: 1%;
    padding: 2% 0%;
    font-size: 20px;
}
.partofpart2content>p,.partofpart3content>p{
    font-size: 15px;
    margin: 1%;
    padding: 2% 0%;
}
/*End of Pärt2*/

/*Part3*/
.part3header,.part5header{
    height: 122px;
    width: 100%;
    text-align: center;
    background-color: rgb(14, 13, 13);
    color:white;
}
.part3content{
    background:linear-gradient(
      rgba(10, 9, 9, 0.9), 
      rgba(10, 9, 9, 0.9)),
      url("../images/sk.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /**/
    background-attachment: fixed;
    background-position: center;
    color:white;
}
.partofpart3{
    height: auto;
    margin: 1% 0%;
}
.elementofpartofpart3{
    border: 2px white solid;
    padding: 3% 1%;
}
.part3eff{
    background-color: rgba(68, 68, 68, 0.432);
}
/*End Of Part3*/

/*Part 4*/
.elementofpartofpart4{
    border: 2px white ;
    padding: 3% 1%;
    position: relative;
}
.elementofpartofpart4>img{
    border: 3px black solid;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    opacity: 1;
    margin-bottom: 5%; 
}
.partofpart4content{
    font-size: 21px;
    margin: auto;
    text-align: center;
}
.vidhidden{
    display: none;
}
#mcpcvidcont{
    background-color: rgb(233, 233, 233);
    padding: 1%;
    opacity: 0;
}
.vidshown{
    width: 100%;
    height: auto;
    transition:all 1s;
}
.vidheader{
    display: block;
    padding-top: 2%; 
    font-size: 25px;
    font-weight: bold;
}
#mcpcvid{
    margin: 2% auto;
    border: 3px solid black;
    display: block;
}
/*End of Part 4*/

/*Part 5*/
.part5content{
    background-color: rgb(14, 13, 13);
    height: 250px;
    color: white;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.part5content>p{
    padding: 6px 10%;
}
/*End of Part 5*/

.end{
    text-align: center;
    height: 50px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#leftgoup{
    float: left;
    margin-left: 15px;
}
#rightgoup{
    float: right;
    margin-right: 15px;
}

